
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="page-inner">
<h4 class="page-title">Controladores</h4>
        <div class="row justify-content-center align-items-center mb-5">
            <div class="col-md-3 pl-md-0">
                <div class="card-pricing2 card-success">
                    <div class="pricing-header">
                        <h3 class="fw-bold">{{element.name}}</h3>
                        <span class="sub-title">{{element}}</span>
                    </div>
                    <div class="price-value">
                        <div class="value">
                            
                        </div>
                    </div>
       <br>
	   <br>
	   <br>


<div class="form-group">

                                
					<form method="POST">
					                   {% csrf_token %}        
                                   {{form}}
								   <input class="btn"type="submit" value="Submit">
</form> </div>
                </div>
            </div>


        </div>
{% endblock content %}

{% block javascripts %}

	<script src="/static/assets/js/demo.js"></script>

	<script>
(function() {
    // get references to select list and display text box
    var sel = document.getElementById('SelectUsuarios');
    
	function getSelectedOption(sel) {
        var opt;
        for ( var i = 0, len = sel.options.length; i < len; i++ ) {
            opt = sel.options[i];
            if ( opt.selected === true ) {
                break;
            }
        }
        return opt;
    }

    // assign onclick handlers to the buttons
    document.getElementById('showVal').onclick = function () {
        el.value = sel.value;    
    }
    
    document.getElementById('showTxt').onclick = function () {
        // access text property of selected option
        el.value = sel.options[sel.selectedIndex].text;
    }

    document.getElementById('doLoop').onclick = function () {
        var opt = getSelectedOption(sel);
        el.value = opt.value;
    }
    
}());

  event.preventDefault();
}
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
